<!-- templates/resource-tracker-player.html -->
<style>
  .resource.niedomiar { color: red; font-weight: bold; }
  .resource.mało { color: orange; font-weight: bold; }
  .resource.umiarkowanie { color: yellow; font-weight: bold; }
  .resource.dużo { color: green; font-weight: bold; }
  .resource.nadmiar { color: blue; font-weight: bold; }
</style>
<div>
  <div class="form-group">
    <label>Drewno: <span id="drewno" class="resource"></span></label>
  </div>
  <div class="form-group">
    <label>Kamienie: <span id="kamienie" class="resource"></span></label>
  </div>
  <div class="form-group">
    <label>Metale: <span id="metale" class="resource"></span></label>
  </div>
  <div class="form-group">
    <label>Żywność: <span id="zywnosc" class="resource"></span></label>
  </div>
  <div class="form-group">
    <label>Skóry i Futra: <span id="skory_i_futra" class="resource"></span></label>
  </div>
  <div class="form-group">
    <label>Siła robocza: <span id="sila_robocza" class="resource"></span></label>
  </div>
</div>
