<!-- templates/resource-tracker.html -->
<form>
    <div class="form-group">
      <label>Drewno</label>
      <select name="drewno">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
    <div class="form-group">
      <label>Kamienie</label>
      <select name="kamienie">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
    <div class="form-group">
      <label>Metale</label>
      <select name="metale">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
    <div class="form-group">
      <label>Żywność</label>
      <select name="zywnosc">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
    <div class="form-group">
      <label>Skóry i Futra</label>
      <select name="skory_i_futra">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
    <div class="form-group">
      <label>Siła robocza</label>
      <select name="sila_robocza">
        <option value="niedomiar">Niedomiar</option>
        <option value="mało">Mało</option>
        <option value="umiarkowanie">Umiarkowanie</option>
        <option value="dużo">Dużo</option>
        <option value="nadmiar">Nadmiar</option>
      </select>
    </div>
  </form>
  