<!-- templates/resource-tracker-gm.html -->
<form>
  <div class="form-group">
    <label>Drewno</label>
    <select name="drewno" value="{{drewno}}">
      <option value="niedomiar" {{#if (eq drewno 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq drewno 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq drewno 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq drewno 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq drewno 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <div class="form-group">
    <label>Kamienie</label>
    <select name="kamienie" value="{{kamienie}}">
      <option value="niedomiar" {{#if (eq kamienie 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq kamienie 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq kamienie 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq kamienie 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq kamienie 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <div class="form-group">
    <label>Metale</label>
    <select name="metale" value="{{metale}}">
      <option value="niedomiar" {{#if (eq metale 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq metale 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq metale 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq metale 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq metale 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <div class="form-group">
    <label>Żywność</label>
    <select name="zywnosc" value="{{zywnosc}}">
      <option value="niedomiar" {{#if (eq zywnosc 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq zywnosc 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq zywnosc 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq zywnosc 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq zywnosc 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <div class="form-group">
    <label>Skóry i Futra</label>
    <select name="skory_i_futra" value="{{skory_i_futra}}">
      <option value="niedomiar" {{#if (eq skory_i_futra 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq skory_i_futra 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq skory_i_futra 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq skory_i_futra 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq skory_i_futra 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <div class="form-group">
    <label>Siła robocza</label>
    <select name="sila_robocza" value="{{sila_robocza}}">
      <option value="niedomiar" {{#if (eq sila_robocza 'niedomiar')}}selected{{/if}}>Niedomiar</option>
      <option value="mało" {{#if (eq sila_robocza 'mało')}}selected{{/if}}>Mało</option>
      <option value="umiarkowanie" {{#if (eq sila_robocza 'umiarkowanie')}}selected{{/if}}>Umiarkowanie</option>
      <option value="dużo" {{#if (eq sila_robocza 'dużo')}}selected{{/if}}>Dużo</option>
      <option value="nadmiar" {{#if (eq sila_robocza 'nadmiar')}}selected{{/if}}>Nadmiar</option>
    </select>
  </div>
  <button type="button" id="apply-button">Apply</button>
</form>
